body {
    background-color: #2B2B2B;
    color: #A7B7B5;
    font-family: "Fira Code Medium", "BatangChe", monospace;
    font-weight: bold;
}

.heading {
    font-family: "Comic Sans MS", sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

a {
    color: #688658;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p:first-letter {
    font-size: 150%;
}

img {
    max-width: 250px;
    height: auto;
}

h5 {
    margin: 20px 0 6px 0;
}